body {
  margin: 0px; }

.instructions {
  background-color: #81daef;
  width: auto;
  padding-left: 7%;
  padding-right: 7%;
  height: 70vh;
  font-family: cubano, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  text-align: center;
  letter-spacing: .15px;
  background-image: url(../assets/imgs/crystal_assets_man.svg);
  background-size: 125px;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-origin: content-box; }
  .instructions h1 {
    font-size: 100px;
    margin: 0px;
    padding-top: 11vh;
    padding-bottom: 5vh; }
  .instructions p {
    padding-top: 1vh;
    max-width: 775px;
    margin: auto;
    font-size: 30px; }

.grass {
  background-image: url(../assets/imgs/crystal_assets_grass.svg);
  background-size: contain;
  height: 190px;
  background-repeat: repeat-x;
  position: relative;
  z-index: 2; }

.play {
  background-color: #38356d;
  margin-top: -120px;
  height: 61vh;
  position: relative;
  text-align: center; }
  .play button {
    font-family: cubano, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    font-size: 65px;
    letter-spacing: .15px;
    margin-top: 12vh; }
  .play img {
    width: 60px; }
  .play #girl {
    width: 125px;
    position: absolute;
    bottom: 40px;
    right: 60px;
    z-index: 10; }

.crystal {
  width: 135px;
  display: inline-block; }
  .crystal img {
    width: 100px; }

.underground {
  background-image: url(../assets/imgs/crystal_assets_underground.svg);
  background-size: contain;
  height: 450px;
  background-repeat: repeat-x;
  position: relative;
  overflow: hidden;
  margin-top: -50px; }
  .underground div > h2 {
    font-family: cubano, sans-serif;
    color: #492d14;
    letter-spacing: .15px;
    margin: 0px; }
  .underground .numbers {
    padding-top: 6vh;
    padding-right: 3vh;
    font-size: 50px;
    text-align: right; }
  .underground .score {
    padding-left: 3vh;
    font-size: 45px;
    position: absolute;
    bottom: 3vh; }
  .underground #haul {
    padding-top: 1vh; }
  .underground #losses {
    padding-top: .75vh; }
