img {
  width: 100px;
}

.crystal {
  float: left;
  margin: 15px;
}
.clearfix::after {
  content: “”;
  display: block;
  clear: both;
}

body {
  cursor: url('../images/pickaxe_cursor.cur'), pointer;
}