$font-stack: cubano, sans-serif;
$light-blue: #81daef;
$dark-blue: #38356d;
$brown: #492d14;

body {
    margin: 0px;
}

a {
    color: #ffffff;
    text-decoration: none;
  }
  

.instructions {
    background-color: $light-blue;
    width: auto;
    padding-left: 7%;
    padding-right: 7%;
    height: 70vh;
    font-family: $font-stack;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    text-align: center;
    letter-spacing: .15px;
    background-image: url(../assets/imgs/crystal_assets_man.svg);
    background-size: 125px;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-origin: content-box;

    h1 {
        font-size: 100px;
        margin: 0px;
        padding-top: 11vh;
        padding-bottom: 5vh;
    }

    p {
        padding-top: 1vh;
        max-width: 775px;
        margin: auto;
        font-size: 30px;
    }
}

.grass {
    background-image: url(../assets/imgs/crystal_assets_grass.svg);
    background-size: contain;
    height: 150px;
    background-repeat: repeat-x;
    position: relative;
    z-index: 2;
}

.play {
    background-color: $dark-blue;
    margin-top: -120px;
    height: 61vh;
    position: relative;
    text-align: center;

    // button {
    //     font-family: $font-stack;
    //     font-weight: 400;
    //     font-style: normal;
    //     color: #ffffff;
    //     font-size: 65px;
    //     letter-spacing: .15px;
    //     margin-top: 12vh;
    // }

    //delete lines 75-78 when play btn added
    #crystal-holder {
        padding-top: 20vh;
    }

    img {
        width: 60px;
    }

    #girl {
        width: 125px;
        position: absolute;
        bottom: 40px;
        right: 60px;
        z-index: 10;
    }
}

.crystal {
    width: 135px;
    display: inline-block;

    img {
        width: 100px;
    }
}

.underground {
    background-image: url(../assets/imgs/crystal_assets_underground.svg);
    background-size: contain;
    height: 400px;
    background-repeat: repeat-x;
    position: relative;
    overflow: hidden;
    margin-top: -50px;

    div > h2 {
        font-family: $font-stack;
        color: $brown;
        letter-spacing: .15px;
        margin: 0px;
    }

    .numbers {
        padding-top: 6vh;
        padding-right: 3vh;
        font-size: 50px;
        text-align: right;
    }

    .score {
        padding-left: 3vh;
        font-size: 45px;
        position: absolute;
        bottom: 3vh;
    }

    #haul {
        padding-top: 1vh;
    }

    #losses {
        padding-top: .75vh;
    }

}

